<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div {
            background-color: lightblue;
            border: 1px solid black;
            height: 100px;
            width: 500px;
            overflow-x: scroll;
        }
        p {
            width: 1000px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div>
        <p> (Your text goes here. Also, you can place other elements within this parent div. </p>
    </div>
</body>
</html>