<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <style type="text/css">
        .scrolling-wrapper {
            -webkit-overflow-scrolling: touch;
        }
    </style>
</head>
<body>
    <div class="scrolling-wrapper">
        <div class="card" style="float: left;"><h2>Card</h2></div>
        <div class="card" style="float: left;"><h2>Card</h2></div>
        <div class="card" style="float: left;"><h2>Card</h2></div>
        <div class="card" style="float: left;"><h2>Card</h2></div>
        <div class="card" style="float: left;"><h2>Card</h2></div>
        <div class="card" style="float: left;"><h2>Card</h2></div>
        <div class="card" style="float: left;"><h2>Card</h2></div>
        <div class="card" style="float: left;"><h2>Card</h2></div>
        <div class="card" style="float: left;"><h2>Card</h2></div>
    </div>
</body>
</html>