{% extends "base.html" %}

{% load static %}

{% block title %}home.html{% endblock %}

{% block extra-style %}
    <style type="text/css">
        div.scrollmenu {
            overflow: auto;
            white-space: nowrap;
        }
    </style>
    <style type="text/css">
        .wrapper {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
        .slide-container {
            scroll-snap-type: x mandatory; /* 달라붙는 스냅 속성 부여 */
            overflow-y: hidden;
            display: flex;
            width: 800px;
            height: 400px;
        }
        .slide {
            scroll-snap-align: start; /* 하위 요소의 정렬 방향 */
            min-width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h1 {
            font-size: 3rem;
            line-height: 0.75;
        }
    </style>
{% endblock %}

</head>
{% block content %}
    <div id=div_01>
        <div class="scrollmenu">
            <li class="nav-item mx-2 btn btn-primary" style="background: #2449AF;">
                <a class="nav-link text-white">News</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('2');">Contact</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('3');">About</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('4');">Support</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('5');">Blog</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('6');">Tools</a>
            </li>
        </div>
        <div class="container">
            <div class="wrapper">
                <div class="slide-container">
                    <div class="slide">
                        <div style="width: 100%">
                            {% for post in posts %}
                                <h3 align="right" style="float:right">{{ post.owner.get_username }}</h3>
                                <h3><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h3>
                                <p align="right">&emsp;{{ post.modify_dt|date:"j F Y" }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="slide">
                        <div style="width: 100%">
                            <li class="nav-item mx-2 btn btn-primary">
                                <a class="nav-link text-white" href="{% url 'blog:index' %}">더보기...</a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id=div_02 style="display: none">
        <div class="scrollmenu">
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('1');">News</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary" style="background: #2449AF;">
                <a class="nav-link text-white">Contact</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('3');">About</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('4');">Support</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('5');">Blog</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('6');">Tools</a>
            </li>
        </div>
        <div class="container">
            <div class="wrapper">
                <div class="slide-container">
                    <div class="slide">
                        <h1>Hyundai</h1>
                    </div>
                    <div class="slide">
                        <h1>Toyota</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id=div_03 style="display: none">
        <div class="scrollmenu">
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('1');">News</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('2');">Contact</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary" style="background: #2449AF;">
                <a class="nav-link text-white">About</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('4');">Support</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('5');">Blog</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('6');">Tools</a>
            </li>
        </div>
        <div class="container">
            <div class="wrapper">
                <div class="slide-container">
                    <div class="slide">
                        <h1>Hyundai</h1>
                    </div>
                    <div class="slide">
                        <h1>Toyota</h1>
                    </div>
                    <div class="slide">
                        <h1>Tesla</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id=div_04 style="display: none">
        <div class="scrollmenu">
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('1');">News</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('2');">Contact</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('3');">About</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary" style="background: #2449AF;">
                <a class="nav-link text-white">Support</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('5');">Blog</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('6');">Tools</a>
            </li>
        </div>
        <div class="container">
            <div class="wrapper">
                <div class="slide-container">
                    <div class="slide">
                        <h1>Hyundai</h1>
                    </div>
                    <div class="slide">
                        <h1>Toyota</h1>
                    </div>
                    <div class="slide">
                        <h1>Tesla</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id=div_05 style="display: none">
        <div class="scrollmenu">
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('1');">News</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('2');">Contact</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('3');">About</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('4');">Support</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary" style="background: #2449AF;">
                <a class="nav-link text-white">Blog</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('6');">Tools</a>
            </li>
        </div>
        <div class="container">
            <div class="wrapper">
                <div class="slide-container">
                    <div class="slide">
                        <h1>Hyundai</h1>
                    </div>
                    <div class="slide">
                        <h1>Toyota</h1>
                    </div>
                    <div class="slide">
                        <h1>Tesla</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id=div_06 style="display: none">
        <div class="scrollmenu">
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('1');">News</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('2');">Contact</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('3');">About</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('4');">Support</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary">
                <a class="nav-link text-white" href="javascript:show_layer('5');">Blog</a>
            </li>
            <li class="nav-item mx-2 btn btn-primary" style="background: #2449AF;">
                <a class="nav-link text-white">Tools</a>
            </li>
        </div>
        <div class="container">
            <div class="wrapper">
                <div class="slide-container">
                    <div class="slide">
                        <h1>Hyundai</h1>
                    </div>
                    <div class="slide">
                        <h1>Toyota</h1>
                    </div>
                    <div class="slide">
                        <h1>Tesla</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block extra-script %}
        <script type="text/javascript">
            function show_layer(div_name){

            document.all.div_01.style.display="none";
            document.all.div_02.style.display="none";
            document.all.div_03.style.display="none";
            document.all.div_04.style.display="none";
            document.all.div_05.style.display="none";
            document.all.div_06.style.display="none";

                switch(div_name){

                case '1':
                document.all.div_01.style.display="";
                break;
                case '2':
                document.all.div_02.style.display="";
                break;
                case '3':
                document.all.div_03.style.display="";
                break;
                case '4':
                document.all.div_04.style.display="";
                break;
                case '5':
                document.all.div_05.style.display="";
                break;
                case '6':
                document.all.div_06.style.display="";
                break;
                }
            }
        </script>
    {% endblock %}
</html>